/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1e1e2f; /* Темный фон для страницы */
    color: #f4f4f9; /* Светлый цвет текста */
}

h1, h2, h3, .nav-link {
    color: #f4f4f9; /* Светлый цвет для заголовков и ссылок */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 15px;
}

#main_header {
    text-align: center;
    color: #ffffff;
}

/* Стили для боковой панели */
#left_navigation_menu {
    background-color: #1e1e2f;
    padding: 20px;
    height: calc(100vh - 60px);
    position: sticky;
    top: 60px;
    border-right: 1px solid #343a40;
    border-radius: 8px;
}

#left_navigation_menu h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#left_navigation_menu .nav-link {
    color: #007bff;
    font-size: 1rem;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

#left_navigation_menu .nav-link:hover,
.navbar .nav-link:hover {
    color: #00aaff;
}

#left_navigation_menu .nav-link.active {
    font-weight: bold;
    color: #00aaff;
    background-color: #343a40;
    border-radius: 4px;
    padding: 15px;
}

/* Стили для верхней навигационной панели */
.navbar {
    background-color: #343a40;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #f4f4f9 !important;
    font-size: 1.2rem;
    line-height: 1.75;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #6250a7 !important;
}

.navbar-brand.nav-link.active, .navbar-nav .nav-link.active {
    color: #6250a7 !important;
    font-weight: bolder;
}


.navbar-toggler { /* Кнопка */
    border: none; 
}

.navbar-toggler-icon {
    background-color: #f4f4f9;
}

/* Стили для разделов */
section {
    margin-bottom: 40px;
    padding: 20px;
    background: #2a2a3c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(215, 179, 179, 0.3);
}

ul, ol {
    margin-left: 15px;
}

/* Стили для теста */
form#quiz-form {
    background-color: #2a2a3c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form#quiz-form .form-label {
    font-weight: bold;
}

.question-text {
    font-weight: bold;
}

form#quiz-form input[type="radio"], form#quiz-form input[type="checkbox"] {
    margin-right: 8px;
    accent-color: #007bff;
}

/* Стили для результатов теста */
#result {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/* Стили контейнера кода */
.code-container {
    background-color: #2a2a3c;
    border: 3px solid #444;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.code-block {
    border-radius: 4px;
    padding: 15px;
    font-size: 1rem;
    font-family: Courier, monospace;
    overflow-x: auto;
}

.copy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 2px 7px;
    font-size: 0.8rem;
    border-radius: 65px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.copy-button:hover {
    background-color: #0056b3;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    
    #left_navigation_menu {
        position: relative;
        height: auto;
        width: 100%;
        margin-bottom: 20px;
        border-right: none;
    }
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.4em;
    }
    .code-container {
        text-align: left;
    }
    .copy-button {
        position: static;
        display: block;
        margin: 0 auto;
        width: 30%;
        margin-top: 15px;
    }
}
